<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href=".css">
  <link rel="stylesheet" href="/static/css/about.css">
  <!-- FONTAWESOME -->
  <script src="https://kit.fontawesome.com/79b4641bc2.js"
      crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  <!-- js for nav bar -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <!-- <div class="topnav" id="myTopnav">
    <a class="name" href="#"><i class="fa-solid fa-house-medical"></i>
      Hospital Management</a>
    <a href="home.html" class="active">Home</a>
    <a href="book_appointment.html">Book_Appointment</a>
    <a href="/templates/contactus.html">Contact</a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div> -->
  <nav class="navbar navbar-expand-lg navbar-dark ">
      
    <a class="navbar-brand" href=""><i class="fa-solid fa-house-medical"></i>HOSPITECH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto" id="">
        <li class="nav-item">
            <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactus">CONTACT US</a>
       </li>
        <li class="nav-item">
          <a class="nav-link" href="book_appointment">BOOK_APPOINTMENT</a>
       </li>
      

    </ul>
    </div>
    
  </nav>


  <img src="/static/img/hospital.jfif" width="100%" height="500px" alt="" srcset="">
  <div class="aboutcont">
    <div class="about">
      <p>About-Us</p>
    </div>
    
    <div class="both_prof">
      <div id="fir"></div>
      <div class="fir">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit suscipit quam possimus enim minima
        temporibus excepturi modi a, ullam quas? Tempora inventore magni aut, explicabo vero nisi reprehenderit nemo
        tempore, cum in, minima voluptas temporibus sapiente eum dolor corrupti eveniet. Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Saepe corrupti quas molestiae inventore recusandae architecto aperiam a
        reprehenderit delectus magnam accusantium quaerat dolorem doloribus nulla mollitia, facilis repellat alias
        beatae rerum ducimus itaque. Ea hic consequatur perspiciatis quasi dignissimos, culpa natus dolorem odio cum et
        error tempora nihil ducimus! Architecto perspiciatis deserunt incidunt dolores, repellat quisquam inventore
        voluptatibus labore non necessitatibus aliquid possimus quo? Odit possimus dicta eum obcaecati commodi, quisquam
        earum atque doloribus beatae voluptas veritatis tempore culpa libero na
      </div>
      
    </div>
    <div class="both_prof">
      <div class="fir">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit suscipit quam possimus enim minima
        temporibus excepturi modi a, ullam quas? Tempora inventore magni aut, explicabo vero nisi reprehenderit nemo
        tempore, cum in, minima voluptas temporibus sapiente eum dolor corrupti eveniet. Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Saepe corrupti quas molestiae inventore recusandae architecto aperiam a
        reprehenderit delectus magnam accusantium quaerat dolorem doloribus nulla mollitia, facilis repellat alias
        beatae rerum ducimus itaque. Ea hic consequatur perspiciatis quasi dignissimos, culpa natus dolorem odio cum et
        error tempora nihil ducimus! Architecto perspiciatis deserunt incidunt dolores, repellat quisquam inventore
        voluptatibus labore non necessitatibus aliquid possimus quo? Odit possimus dicta eum obcaecati commodi, quisquam
        earum atque doloribus beatae voluptas veritatis tempore culpa libero na
      </div>
      <div id="sec"></div>
    </div>

    <div class="both_prof">
      <div id="thir"></div>
      <div class="fir">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit suscipit quam possimus enim minima
        temporibus excepturi modi a, ullam quas? Tempora inventore magni aut, explicabo vero nisi reprehenderit nemo
        tempore, cum in, minima voluptas temporibus sapiente eum dolor corrupti eveniet. Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Saepe corrupti quas molestiae inventore recusandae architecto aperiam a
        reprehenderit delectus magnam accusantium quaerat dolorem doloribus nulla mollitia, facilis repellat alias
        beatae rerum ducimus itaque. Ea hic consequatur perspiciatis quasi dignissimos, culpa natus dolorem odio cum et
        error tempora nihil ducimus! Architecto perspiciatis deserunt incidunt dolores, repellat quisquam inventore
        voluptatibus labore non necessitatibus aliquid possimus quo? Odit possimus dicta eum obcaecati commodi, quisquam
        earum atque doloribus beatae voluptas veritatis tempore culpa libero na
      </div>
      
    </div>


    <!-- about doctors -->

    <section class="profileofdr">
      <hr> <hr>
      <h1 class="fac">Our Doctors</h1> <hr> <hr>
      <h1 class="fac">Our Dentist Doctors</h1>
      <ul class="cards">
          <li>
            <a href="" class="card">
              <img src="/static/img/1.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <img class="card__thumb" src="/static/img/1.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">Jessica Parker</h3>            
                    <span class="card__status">1 hour ago</span>
                  </div>
                </div>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/1.png" class="card__image" alt="" />
              <div class="card__overlay">        
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <img class="card__thumb" src="/static/img/1.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">kim Cattrall</h3>
                    <span class="card__status">3 hours ago</span>
                  </div>
                </div>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
              </div>
            </a>
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/1.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <img class="card__thumb" src="/static/img/1.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">Jessica Parker</h3>
                    <span class="card__tagline"></span>            
                    <span class="card__status">1 hour ago</span>
                  </div>
                </div>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
              </div>
            </a>
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/1.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                  <img class="card__thumb" src="/static/img/1.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">kim Cattrall</h3>
                    <span class="card__status">3 hours ago</span>
                  </div>          
                </div>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
              </div>
            </a>
          </li>             
        </ul>
   
  </section>
  <hr>
  <section class="profileofdr">
    <h1 class="fac">Our Otolaryngologist Doctors</h1>
    <ul class="cards">
        <li>
          <a href="" class="card">
            <img src="/static/img/1.png" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="/static/img/1.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Jessica Parker</h3>            
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
            </div>
          </a>      
        </li>
        <li>
          <a href="" class="card">
            <img src="/static/img/3.png" class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <img class="card__thumb" src="/static/img/3.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">kim Cattrall</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img src="/static/img/3.png" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="/static/img/3.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Jessica Parker</h3>
                  <span class="card__tagline"></span>            
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img src="/static/img/1.png" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <img class="card__thumb" src="/static/img/1.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">kim Cattrall</h3>
                  <span class="card__status">3 hours ago</span>
                </div>          
              </div>
              <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
            </div>
          </a>
        </li>             
      </ul>
 
</section>
<hr>
<section class="profileofdr">
  <h1 class="fac">Our Patheology Doctors</h1>
  <ul class="cards">
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Jessica Parker</h3>            
                <span class="card__status">1 hour ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>      
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">        
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">kim Cattrall</h3>
                <span class="card__status">3 hours ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/3.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="/static/img/3.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Jessica Parker</h3>
                <span class="card__tagline"></span>            
                <span class="card__status">1 hour ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">kim Cattrall</h3>
                <span class="card__status">3 hours ago</span>
              </div>          
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>             
    </ul>

</section>
<hr>
<section class="profileofdr">
  <h1 class="fac">Our OrthoPaedic Doctors</h1>
  <ul class="cards">
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Jessica Parker</h3>            
                <span class="card__status">1 hour ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>      
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">        
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">kim Cattrall</h3>
                <span class="card__status">3 hours ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/3.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="/static/img/3.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Jessica Parker</h3>
                <span class="card__tagline"></span>            
                <span class="card__status">1 hour ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">kim Cattrall</h3>
                <span class="card__status">3 hours ago</span>
              </div>          
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>             
    </ul>

</section>
<hr>
<section class="profileofdr">
  <h1 class="fac">Our Neurologist Doctors</h1>
  <ul class="cards">
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Jessica Parker</h3>            
                <span class="card__status">1 hour ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>      
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">        
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">kim Cattrall</h3>
                <span class="card__status">3 hours ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/3.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="/static/img/3.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Jessica Parker</h3>
                <span class="card__tagline"></span>            
                <span class="card__status">1 hour ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">kim Cattrall</h3>
                <span class="card__status">3 hours ago</span>
              </div>          
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>             
    </ul>

</section>
<hr>
<section class="profileofdr">
  <h1 class="fac">Our Gynaecologist Doctors</h1>
  <ul class="cards">
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Jessica Parker</h3>            
                <span class="card__status">1 hour ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>      
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">        
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">kim Cattrall</h3>
                <span class="card__status">3 hours ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/3.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="/static/img/3.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Jessica Parker</h3>
                <span class="card__tagline"></span>            
                <span class="card__status">1 hour ago</span>
              </div>
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>
      <li>
        <a href="" class="card">
          <img src="/static/img/1.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
              <img class="card__thumb" src="/static/img/1.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">kim Cattrall</h3>
                <span class="card__status">3 hours ago</span>
              </div>          
            </div>
            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
          </div>
        </a>
      </li>             
    </ul>

</section>
<!--   
<hr> -->
    <!-- end of dr's -->
   

    <!-- map of campus -->
   <div class="mainmap">
    <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=iit indore&amp;t=k&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.kokagames.com/fnf-friday-night-funkin-mods/">FNF</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>
   <div class="abhidet">
    <div class="dev">Developer</div>
    <div class="developer">
      <div class="pic1" >
        <img class="AKPK" src="/static/img/abhi.jpeg" alt="prashant">
        <div class="det">
          <span>ABHISHEK JAISWAL</span>
          <span>B.tech CSE</span>
          <span>IIT INDORE 2024</span>
        </div>

      </div>
      <div class="pic2">
        <img class="AKPK" src="/static/img/pk.jpeg" alt="abhishek">
        <div class="det">
          <span>Prashant Rao</span>
          <span>B.tech Civil Engineer</span>
          <span>IIT INDORE 2024</span>
        </div>
        <div class="pic2">
          <img class="AKPK" src="/static/img/tomar.jpeg" alt="abhishek">
          <div class="det">
            <span>Prashant Rao</span>
            <span>B.tech Civil Engineer</span>
            <span>IIT INDORE 2024</span>
          </div>

      </div>
    </div>
   </div>
   </div>


  </div>


  <!-- footer start -->
  <footer class="footer">

    <div class="foot1">
      <div class="content1">Book Appointment for free</div>
      <div><a href="book_appointment"><button class="butt">Book</button></a></div>
    </div>
    <div class="foot2">
      <div class="content2">
        <h3>© 2022 Copyright: AKPK_Group</h3>
      </div>
    </div>

  </footer>

  <!-- footer end -->
</body>

</html>