<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/79b4641bc2.js"
      crossorigin="anonymous"></script>
    <!-- <script src="script.js"></script> -->
    <!-- js for nav bar -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>
  <body>
    <!-- navbar
    <div class="topnav" id="myTopnav">
      <a class="name" href="#"><i class="fa-solid fa-house-medical"></i>
        Hospital Management</a>
      <a href="#home" class="active">Home</a>
      <a href="/templates/book_appointment.html">Book_Appointment</a>
      <a href="/templates/contactus.html">Contact</a>
      <a href="/templates/about.html">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-dark ">
      
      <a class="navbar-brand" href=""><i class="fa-solid fa-house-medical"></i>HOSPITECH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto" id="">
          <li class="nav-item">
              <a class="nav-link" href=''>HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactus">CONTACT US</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="book_appointment">BOOK_APPOINTMENT</a>
        </li>
        

      </ul>
      </div>
      
    </nav>
    <!-- move -->
    <section claas="move">
      <div id="light">
        <marquee><h2><i class="fa-solid fa-house-medical">
          Welcome to Health_Center</h2></marquee>
          <div id="lineh1"></div>
          <div id="lineh2"></div>
        </div>
      </section>

      <div class="sec2">Our Facilities</div>
      <div class="flex">
        <div class="container">
          <img src="/static/img/xray.webp" style="width:100%">
          <a href="patheology"> <button class="btn">PATHEOLOGY</button></a>
        </div>
        <div class="container" >
          <img src="/static/img/daat.webp" style="width:100% " >
          <a href="denstist" ><button class="btn">DENSTIST</button></a>
        </div>
        <div class="container">
          <img src="/static/img/otonorologist.jpg" style="width:100%">
          <a href="Otolaryngologist"><button class="btn">OTOLARYNGOLOGIST</button></a>
        </div>
      </div>

      <div class="flex">
        <div class="container">
          <img src="/static/img/othopedic.jpg" style="width:100%">
          <a href="Orthopaedic"><button class="btn">ORTHOPAEDIC</button></a>
        </div>
        <div class="container">
          <img src="/static/img/neurologist.jpg" style="width:100%">
          <a href="Neurologist"><button class="btn">NUEROLOGIST</button></a>
        </div>
        <div class="container">
          <img src="/static/img/MAHILA ROG.png" style="width:100%">
          <a href="Gynaecologist"><button class="btn">GYNAECOLOGIST</button></a>
        </div>
      </div>

<!-- footer start -->
      <footer class="footer">
       
        <div class="foot1">
          <div class="content1">Book Appointment for free</div>
          <div ><a href="book_appointment"><button class="butt">Book</button></a></div>
        </div>
        <div class="foot2">
          <div class="content2"><h3>© 2022 Copyright: AKPK_Group</h3></div>
        </div>
        
      </footer>
    
      


      <!-- footer end -->
    </body>
  </html>
